
{% extends "ecoapp/base.html" %}
{% block content %}
<div class="survey-form">
  <h2 class="survey-header-tourist">Опрос для местного жителя</h2>
  <form method="POST" id="local-survey-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% for error in field.errors %}
          <div class="form-error" style="color: #c62828;">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    {% for error in form.non_field_errors %}
      <div class="form-error" style="color: #c62828;">{{ error }}</div>
    {% endfor %}

    <button type="submit" class="btn-submit-tourist">Рассчитать</button>
  </form>
</div>
{% endblock %}
