{% load static %}
<div class="team-section">
    <h1 class="team-title">Наша команда</h1>
    <p class="team-description">
        Привет! Мы команда студентов со всех уголков России, которая отправилась в экспедицию от проекта «Открываем Россию заново» для разработки проекта по уменьшению углеродного следа такого уникального региона, как Камчатка.
    </p>
    <p class="team-description">
        Мы верим, что он позволит уменьшить негативное влияние на природу.
    </p>
    <!-- Фото команды -->
    <div class="team-photo">
        <img src="{% static 'ecoapp/images/team.jpg' %}" class="team-image" alt="Фото нашей команды">
    </div>
</div>
